:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

body{
    background: var(--dark);
    color: #FFF;
}

header h1{
    color: var(--gray);
}

#new-task-input{
    background-color: var(--darker);
    color: var(--light);
}

#new-task-input::placeholder{
    color: var(--gray);
}

#new-task-submit{
    color: var(--pink);
    background-image: linear-gradient(to right, var(--pink), var(--purple));
}

#theme-btn{
    background-color: var(--gray);
}

#sun{
    color: var(--darkest);
}

.task-list h2{
    color: var(--gray);
}

#tasks .task{
    background-color: var(--darkest);
}

#tasks .task .content .text{
    color: var(--light);
}

#tasks .task .content .text:not(:read-only){
    color: var(--pink );
}

.task .action .edit{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.task .action .delete{
    color: crimson;
}